.footer {
  padding: 25px 0;
  background-color: #f2f3f4; }
  .with-high-contrast .footer {
    background-color: #082e33; }
  .footer__ans {
    margin-bottom: 20px; }
    .footer__ans a {
      display: inline-block;
      width: 64px;
      height: 60px;
      text-indent: -9999em; }
    @media (min-width: 768px) {
      .footer__ans {
        margin-bottom: 0; } }
  .footer__contact {
    color: #6d6e71; }
    .with-high-contrast .footer__contact {
      color: #62ccdd; }
    .footer__contact:hover {
      color: #461BFF; }
      .with-high-contrast .footer__contact:hover {
        color: #ffffff; }
  .footer__nav {
    padding-bottom: 12px;
    border-bottom: 2px solid #00ADFF; }
    @media (max-width: 449.98px) {
      .footer__nav {
        border-bottom: none; } }
    .with-high-contrast .footer__nav {
      border-bottom-color: #47acc8 !important; }
    @media (max-width: 449.98px) {
      .footer__nav__title {
        border-bottom: 1px solid #00ADFF;
        padding-bottom: 12px;
        text-align: center; } }
    .footer__nav__title div:hover {
      color: #461BFF; }
    .with-high-contrast .footer__nav__title div {
      color: #ffffff !important; }
      .with-high-contrast .footer__nav__title div:hover {
        color: #24555c !important; }
    .footer__nav__list {
      margin-top: 10px;
      text-align: left; }
    .footer__nav__item {
      display: inline-block;
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid #898989;
      vertical-align: middle; }
      .with-high-contrast .footer__nav__item {
        border-right-color: #ffffff; }
      .footer__nav__item:last-child {
        margin-right: 0;
        border-right: none; }
      .footer__nav__item a {
        font-size: 4vw;
        color: #898989; }
        .with-high-contrast .footer__nav__item a {
          color: #ffffff; }
          .with-high-contrast .footer__nav__item a:hover {
            color: #0c646e; }
        @media (min-width: 450px) {
          .footer__nav__item a {
            font-size: 16px; } }
      @media (max-width: 449.98px) {
        .footer__nav__item {
          display: block;
          border-right: none;
          text-align: center;
          margin: 0 0 10px 0; } }
    @media (min-width: 576px) {
      .footer__nav {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .footer__nav__list {
          margin-top: 0; }
        .footer__nav__item a {
          transition: all 0.2s ease-in-out;
          font-size: 16px;
          font-size: 1rem; } }
    @media screen and (min-width: 576px) and (prefers-reduced-motion: reduce) {
      .footer__nav__item a {
        transition: none; } }
    @media (min-width: 992px) {
      .footer__nav__item a:hover {
        color: #461BFF;
        text-decoration: none; } }
  .footer__logos {
    padding: 20px 0; }
    .footer__logos__item {
      text-align: center;
      list-style: none; }
      .footer__logos__item a {
        position: relative;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover; }
        .footer__logos__item a span {
          font: 0/0 a; }
        .footer__logos__item a:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-repeat: no-repeat;
          transition: opacity 0.2s ease-in-out; }
          @media screen and (prefers-reduced-motion: reduce) {
            .footer__logos__item a:before {
              transition: none; } }
        .footer__logos__item a:hover:before {
          opacity: 1; }
        .footer__logos__item a.amil-logo {
          width: 82px;
          height: 30px;
 }



        .footer__logos__item a.amildental-logo {
          width: 162px;
          height: 42px;
 }

        .footer__logos__item a.amilonehealth-logo {
          width: 74px;
          height: 42px;
 }
        .footer__logos__item a.nextsaude-logo {
          width: 74px;
          height: 42px;
 }
    .footer__logos__title {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 40px;
      border-bottom: 2px solid #00ADFF;
      padding-bottom: 12px; }
      .with-high-contrast .footer__logos__title {
        color: #ffffff;
        border-bottom: 1px solid #47acc8; }
      @media (max-width: 449.98px) {
        .footer__logos__title {
          text-align: center;
          margin-top: 0px; } }
    .footer__logos__list {
      display: flex; }
      @media (max-width: 449.98px) {
        .footer__logos__list {
          display: block; } }
      @media (max-width: 991.98px) {
        .footer__logos__list {
          justify-content: space-between; } }
    .footer__logos .footer__logos__item {
      padding: 10px;
      margin-right: 40px; }
    @media (max-width: 449.98px) {
      .footer__logos .footer__logos__item {
        margin-right: 0; } }
  .footer__legal {
    padding: 20px 0;
    background-color: #d1d3d4;
    text-align: center; }
    .footer__legal .footer__copyright {
      padding: 20px 0; }
      .with-high-contrast .footer__legal .footer__copyright {
        color: #ffffff; }
      .with-high-contrast .footer__legal .footer__copyright {
        color: #ffffff; }
      .footer__legal .footer__copyright span {
        display: block; }
      .footer__legal .footer__copyright p {
        padding: 0 20px; }
      @media (min-width: 768px) {
        .footer__legal .footer__copyright {
          padding: 0; } }
    @media (min-width: 768px) {
      .footer__legal .container {
        display: flex;
        justify-content: space-between;
        align-items: center; } }
    .with-high-contrast .footer__legal {
      background-color: #24555c; }
  @media (min-width: 768px) {
    .footer {
      padding: 20px 0 0; } }
  .footer--withoutPadding {
    padding: 0; }